<!doctype html>
<html>
<head>
	<title>Expositus- Tell your friends.</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<style>
		body 		{ padding-top:80px; }
	</style>
</head>
<body>
<div class="container">

	<div class="jumbotron text-center">
		<h1><span class="fa fa-lock"></span> Expositus</h1>

		<p>Login or Register with:</p>
		<a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>
	</div>

	<div class="text-center">
		<p>Crafted in Lingayat Bhawan, Pune <a href="#">Learn More</a>.</p>
	</div>

</div>
</body>
</html>
